@model AspMusicStore.Models.Track

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Track</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrackTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrackTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrackLyrics)
        </dt>
        <dd class = "col-sm-10">
            <textarea readonly>@Model.TrackLyrics</textarea>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Musicians)
        </dt>
        <dd class="col-sm-10">
            @foreach (var musician in Model.Musicians)
            {
                <text>@musician.MusicianName</text> <br />
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TrackID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
