@model IEnumerable<AspMusicStore.Models.Track>

@{
    ViewData["Title"] = "Tracks";
}

<h1>Tracks</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrackTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackLyrics)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrackTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrackLyrics)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TrackID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.TrackID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.TrackID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
